@media only screen and (min-width:1240px){
    @media only screen and (min-width:992px) and (max-width:1240px){

        .react-hamburger-icon{
           display: none;
       }   
      /* .react-hamburger-icon:hover{
           cursor: pointer;
       }      */
       .nav-menu{
           display:block;
       }
       .slider{
           display: flex !important;
           /* grid-template-columns: repeat(2,1fr); */
       }
       .slider-div-desc{
           /* border: 1px solid green; */
           padding: 10px;
           /* width: 100%; */
           margin: 0px;
           flex-grow: 1;
       }
       
       .slider-div-desc h1{
           word-wrap:break-word;
           font-size: 2rem;
       }
       .slider-div-desc p{
           font-size: 1.5rem;
           text-align: left;
           word-wrap: break-word;
       }
       .card-device-design{
           display: grid;
           grid-template-columns: repeat(4,1fr);   
       }
       .card-col1{
           margin:0px 10px 10px 0px !important;
           /* margin-bottom: 10px; */
       }
        .card-col2{
           /* margin:0px 10px 10px !important; */
           margin-left: 10px !important;
           margin-bottom: 10px !important;
           width:330px;
        } 
        .card-col3{
           /* margin:0px 0px 10px 10px  !important; */
           margin-bottom: 10px !important;
   
   
        } .card-col4{
           /* margin-bottom: 10px; */
           margin-bottom: 10px !important;
   
       }
       .new-product-device{
           display: grid;
           grid-template-columns: repeat(4,1fr);
       }
       .new-prod-col{
           width: 100%;
       }
       .new-product-device-wireless{
           display: grid;
           grid-template-columns: repeat(4,1fr);
       }
       .discount-device{
           display: grid;
           grid-template-columns: repeat(4,1fr);
       }
       .disc-col{
           /* border: 1px solid sred; */
           width: 100%;
           /* margin-right: 10px; */
       }
       /* .disc-image img{
           height: 200px;
       } */
       .best-sales-device{
           display: grid;
           grid-template-columns: repeat(4,1fr);
       }
       .best-sale-items{
           width: 100%;
       }
       .footer-device{
           display: grid;
           grid-template-columns: repeat(4,1fr);
       }
   }
}